

  body{
      width: auto;
      text-align: center;

  }
  h1{
      text-align: center;
      background-color: blanchedalmond;
      margin: 40px 30px 30px 30px;

  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(105, 120, 255);
    color: white;
    text-align: center;
  }
  .table{
      border: solid 2px red;
      width: 100%;
      font-family: cursive;
  }

  img{
      width: 100px;
     padding: 10px;
     border-radius: 3px;
     margin:10px;
  }

  hr{
      color:crimson;
  }

  li{
      font-size: 20px;
      font-family: cursive;
      text-align: left;
  }

  